body {
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

h1 {
  color: #008080;
  
}

p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}

form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
  color: #008080;
  display: block;
  margin-top: 10px;
}

input[type="text"],
input[type="number"],
select,
input[type="tel"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus,
input[type="tel"]:focus,
input[type="email"]:focus {
  outline: none;
  border-color: #008080;
}

input[type="submit"] {
  background-color: #008080;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #006060;
}

footer {
  margin-top: 20px;
  text-align: center;
  color: #000000;
}

footer p {
  margin-bottom: 5px;
}
